<%# The Content Heading %>
<% if (title) { %>
    <h1 class="accountTitle">
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%# Flash Messages %>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice flashBox">
        <% errors.array().forEach(error => { %>
            <% if (error.msg !== 'Invalid value') { %>
                <li><%= error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<form id="loginForm" action="/account/login" method="POST" class="account-form">
    <fieldset>
        <legend>Login to continue</legend>

        <label for="email">Email
            <input type="email" id="email" name="account_email" required autocomplete="email" title="Your Email Address" value="<%= locals.account_email %>">
        </label>

        <label for="password" class="passwordBox">Password
            <input type="password" id="password" name="account_password" title="Your Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <span id="pswdBtn" class="toggle-password"><i id="pswdIcon" class="fa-solid fa-eye"></i></span>
        </label>
        <div class="password-requirements">
            <p>Password must be at least 12 characters long and include:</p>
            <ul>
                <li>At least one uppercase letter</li>
                <li>At least one number</li>
                <li>At least one special character</li>
            </ul>
        </div>

        <button type="submit">Continue</button>
    </fieldset>

    <div class="register-link">
        <p>Don't have an account? <a href="/account/registration">Register here</a>.</p>
    </div>

</form>

<script src="../../js/login.js" type="module"></script>



