<%# Scripts specific to the login page. This variable will be included in the head partial, allowing us to include page-specific scripts when needed. %>
<% pageScripts = '<script src="/js/register.js" type="module"></script>' %>

<%# The Content Heading %>
<% if (title) { %>
    <h1 class="accountTitle">
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>


<%# Flash Messages %>
<div class="flashBox"><%- messages() %></div>

<form action="/account/register" method="POST" class="account-form">
    <fieldset>
        <legend>Create Your Account</legend>

        <label for="firstName">First Name
            <input type="text" id="firstName" name="account_firstname" required autocomplete="given-name" title="Your First Name">
        </label>

        <label for="lastName">Last Name
            <input type="text" id="lastName" name="account_lastname" required autocomplete="family-name" title="Your Last Name">
        </label>

        <label for="email">Email
            <input type="email" id="email" name="account_email" required autocomplete="email" title="Your Email Address">
        </label>

        <label for="password" class="passwordBox">Password
            <input type="password" id="password" name="account_password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$" title="Password must be at least 12 characters, include an uppercase letter, a number, and a special character." required>
            <span id="pswdBtn" class="toggle-password"><i id="pswdIcon" class="fa-solid fa-eye"></i></span>            
        </label>

        
        <div class="password-requirements">
            <p>Password must be at least 12 characters long and include:</p>
            <ul>
                <li>At least one uppercase letter</li>
                <li>At least one number</li>
                <li>At least one special character</li>
            </ul>
        </div>

        <button type="submit">Register</button>
    </fieldset>

    <div class="register-link">
        <p>Already have an account? <a href="/account/login">Login here</a>.</p>
    </div>
</form>
