<% const d=new Date() 
let year=d.getFullYear() %>
    <footer>
        <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
        <p><a href="/inv/error">Trigger Error</a></p> <%# This link is for testing the error handling in the application. When clicked, it will trigger an error and display the error page. This is useful for developers to ensure that the error handling is working correctly and that users see a friendly error message instead of a generic server error. %>
    </footer>

    <%# For a reminder on what EJS tags do, see the comments in the layout.ejs file. %>