<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340 App</title> <%# The ejs tag here outputs the title variable without escaping HTML %>
    <meta name="author" content="Marco Sandoval">
    <meta name="description" content="A website for CSE Motors, a fictional car dealership.">
    <meta name="keywords" content="cars, dealership, delorean, flux capacitor, time machine">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<%# 
http-equiv just says “this meta tag should be treated like a header.”
X-UA-Compatible is the header name it will use, and content="IE=edge" is the value that tells the browser to use its latest engine.
%>

<%#
For a reminder on what EJS tags do, see the comments in the layout.ejs file.
%>