<nav>
    <ul>
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/custom">Custom</a></li>
        <li class="nav-link"><a href="/sedan">Sedan</a></li>
        <li class="nav-link"><a href="/suv">Suv</a></li>
        <li class="nav-link"><a href="/truck">Truck</a></li>
    </ul>
</nav>

<%# For a reminder on what EJS tags do, see the comments in the layout.ejs file. %>