<nav>
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>Suv</li>
        <li>Truck</li>
    </ul>
</nav>

<%# For a reminder on what EJS tags do, see the comments in the layout.ejs file. %>