<h1><%- messages() %></h1>
<section class="hero">
    <h2 id="hero-title">Welcome to CSE Motors!</h2>
    <div id="hero-message">
        <h3>DMC Delorean</h3>
        <ul class="hero-car-features">
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="/custom" id="hero-button">Own Today</a>
    </div>
    <picture id="hero-img">
        <source media="(max-width: 800px)" srcset="../images/vehicles/delorean-tn.jpg" width="200" height="102">
        <img src="../images/vehicles/delorean-tn.jpg" alt="Image of a DMC Delorean" width="500" height="255">
    </picture>
</section>

<section class="home-content">
    <div class="home-content-item home-reviews">
        <h3>DMC Delorean Review</h3>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <div class="home-content-item home-upgrades">
        <h3>Delorean Upgrades</h3>
        <ul>
            <li>
                <div class="upgrade-card">
                    <img src="../images/upgrades/flux-cap.png" alt="Image of a flux capacitor upgrade" width="65" height="65">
                </div>
                <a href="" class="upgrade">Flux Capacitor</a>
            </li>
            <li>
                <div class="upgrade-card">
                    <img src="../images/upgrades/flame.jpg" alt="Image of flame decals upgrade" width="65" height="82">
                </div>
                <a href="" class="upgrade">Flame Decals</a>
            </li>
            <li>
                <div class="upgrade-card">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="Image of bumper stickers upgrade" width="65" height="57">
                </div>
                <a href="" class="upgrade">Bumper Stickers</a>
            </li>
            <li>
                <div class="upgrade-card">
                    <img src="../images/upgrades/hub-cap.jpg" alt="Image of hub caps upgrade" width="65" height="65">
                </div>
                <a href="" class="upgrade">Hub Caps</a>
            </li>
        </ul>
    </div>
</section>

