/**********************************
Universal Styles
***********************************/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(8, 35, 66);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(34, 95, 110);
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-image: url("../images/site/checkerboard.jpg");
  background-size: 350px 350px;
  /* Adjust the size of the background image as needed */
  max-width: 800px;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.siteName a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

#tools a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

#tools a:hover {
  color: var(--accent-color);
  transition: all 0.1s ease;
}

nav {
  background: var(--primary-color);
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  margin: 5px 5px;
  color: var(--secondary-color);
  width: fit-content;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 0.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
  margin: 0 auto;
}

nav a:hover::after {
  width: 100%;
}

main {
  background-color: var(--secondary-color);
  padding: 1rem;
  min-height: 80vh;
}

.pageTitle, .accountTitle {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}



/**********************************************
Error Page Styles
***********************************************/

.errorTitle {
  color: rgba(0, 0, 0, 0.534);
  text-align: center;
  margin-top: 5rem;
}

.error-message {
  margin: 1rem auto;
  max-width: 300px;
  line-height: 1.6;
  text-align: center;
  font-size: 0.8rem;
}

.error-details {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.534);
}



/***********************************************
Flash Message Styles
************************************************/

.flashMessage {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 5px;
}

.notice, .success {
  font-size: 0.65rem;
  border-radius: 5px;
  margin-left: 1.5rem;
}

.notice {
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.success {
  color: rgb(15, 190, 15);
}




/*********************************************
Account Login Page Styles
*********************************************/

.accountTitle {
  text-align: center;
}

.account-form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
}

.account-form fieldset {
  border: none;
  padding: 0;
}

.account-form legend {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}

.account-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.account-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.account-form button {
  width: 100%;
  padding: 0.7rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.account-form button:hover {
  background: var(--accent-color);
}

.register-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.register-link a {
  color: #0074d9;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}

.passwordBox {
  position: relative;
}

#pswdBtn {
  position: absolute;
  bottom: 7.5px;
  right: 0.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.534);
  padding: 0 0.5rem 0 1rem;
  background-color: white;
}

input:required:invalid,
input:focus:invalid {
  border-color: red;
}

input:required:valid {
  border-color: green;
}



/**********************************************
Account Registration Page Styles
***********************************************/

.password-requirements {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.534);
  margin-bottom: 1.2rem;
}

.password-requirements li {
   line-height: 1.4;
   margin-left: 1.5rem;
}



/**********************************************
Home Page Styles
***********************************************/

.hero {
  position: relative;
  padding: 20px 5px;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: auto;
  padding: 0 2rem;
}

#hero-message {
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  color: var(--primary-color);
  background-color: rgba(243, 243, 243, 0.699);
  border: 0.1px solid var(--primary-color);
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
}

#hero-message h3 {
  font-size: 0.9rem;
}

#hero-message ul {
  list-style: none;
  padding: 10px;
  font-size: 0.7rem;
}

#hero-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#hero-button:hover {
  background-color: var(--primary-color);
  transition: all 0.1s ease;
}

.home-content {
  padding: 20px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.home-content-item {
  margin-bottom: 2rem;
}

.home-content-item h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.home-reviews ul {
  padding-left: 1.5rem;
  line-height: 1.6;
}

.home-upgrades ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px 16px;
  justify-items: center;
}

.home-upgrades li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.upgrade-card {
  width: 100%;
  height: 80px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
}

.upgrade-card img {
  display: block;
}

.home-upgrades a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}



/*********************************************
Inventory Management Page Styles
*********************************************/
.inventory-management {
  margin: 1.5rem auto;
  max-width: 400px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.295);
  border-radius: 5px;
}

.inventory-management h2 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

.inventory-management p {
  line-height: 1.6;
  padding: 0 1rem;
}

.inventory-management ul {
  list-style: none;
  padding: 1rem 1rem 1rem 2rem;
}

.inventory-management li {
  margin-bottom: 1rem;
}

.inventory-management a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.inventory-management a:hover {
  text-decoration: underline;
}



/*********************************************
Add Classification Page Styles
*********************************************/

.classification-form p, .inventory-form p{
  padding-bottom: 1rem;
  font-style: italic;
  opacity: 0.6;
}



/***********************************************
Add Inventory Page Styles
************************************************/



/**********************************************
Inventory Classification Page Styles
***********************************************/

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}

#inv-display li {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  max-width: 375px;
}

#inv-display a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  width: 100%;
  height: 100%;
}

#inv-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#inv-display hr {
  width: 100%;
  border: 2.5px solid var(--accent-color);
}

.namePrice {
  color: var(--primary-color);
  width: 100%;
  padding-bottom: 0.5rem;
}

.namePrice h2,
.namePrice span {
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1rem;
}



/**********************************************
Inventory Detail Page Styles
***********************************************/

.vehicle-detail {
  background-color: var(--secondary-color);
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicle-detail__media img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.vehicle-detail__info h2 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.vehicle-detail__price,
.vehicle-detail__miles {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.vehicle-detail__info p {
  margin-bottom: 0.5rem;
}



/**********************************************
Footer Styles
***********************************************/

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
}

footer a {
  color: var(--secondary-color);
  text-decoration: underline;
  font-weight: 600;
}



/**********************************************
Media Queries
***********************************************/

@media screen and (min-width: 450px) {
  #hero-title {
    font-size: 1.5rem;
  }

  #hero-message h3 {
    font-size: 1.3rem;
  }

  #hero-message ul {
    font-size: 1rem;
  }

  .siteName a {
    font-size: 1.8rem;
  }

  .hero img {
    padding: 0 4rem;
  }

  nav a {
    font-size: 1rem;
  }

  .pageTitle, .accountTitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 640px) {
  .home-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-reviews {
    padding-left: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .home-reviews ul {
    padding-left: 1.5rem;
    line-height: 2.5;
  }

  .home-upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .hero img {
    padding: 0 6rem;
  }

  .vehicle-detail {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .vehicle-detail__media,
  .vehicle-detail__info {
    flex: 1 1 0;
  }
}

@media screen and (min-width: 800px) {
  body {
    margin: 1rem auto;
    border: 5px solid var(--accent-color);
    border-radius: 10px;
  }
}