<%# The Content Heading %>
<%# Display the title if it exists %>
<%# If no title is provided, redirect to the home page %>
<% if (title) { %>
    <h1 class="errorTitle"><%= title %></h1>
<% } else { res.redirect('/') } %>

<section class="error-message">
    <p>You trying to get me in trouble?</p>
    <div class="error-details">
        <%- message %>
    </div>
</section>


































