<%# The Content Heading %>
<%# Display the title if it exists %>
<%# If no title is provided, redirect to the home page %>
<% if (title) { %>
    <h1 class="errorTitle"><%= title %></h1>
<% } else { res.redirect('/') } %>


<%# The Error Message Block %>
<%# This section displays the error message passed to the view. The message is rendered using the < %- % > EJS tag, which allows HTML content to be rendered without escaping. %>
<section class="error-message">
    <p>You trying to get me in trouble?</p>
    <div class="error-details">
        <%- message %>
    </div>
</section>


































